@import '../../sass/variables.scss';

.homepage {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content:center;
}

.homepage-content{
  height: 85%;
  border: 10px solid green;

}

.welcome-txt {
  width: 50%;
  height: 25%;
  border: 1px solid red;
  line-height: 1.3;
  padding: 20px;
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: space-between;
  color: $font-color;

  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 2rem;
  }
}


.start-btn-container{
  display: flex;
  flex-direction: column;
  margin: 5% 0 0 5%;
  border: 2px solid pink;
  width: 50%;
}

.start-link {
  // display: inline-block;
  // border:2px solid red;
}

.start-btn {
  cursor: pointer;
  background: $accent-color;
  border: none;
  color: white;
  width: 10rem;
  font-size: 1.5rem;
  padding: 1.5%;
}

@media screen and(max-width: 1000px){
  .homepage{
    border: 3px solid magenta;
  }

  .welcome-txt{
    
    h1{
      font-size: 1.75rem;
    }

    h2{
      font-size: 1.25rem;
    }
  }
}