@import '../../sass/variables.scss';

.homepage {
  height: 80vh;
}

.welcome-container{
  position:relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height:100%;
}

.welcome-txt {
  position: relative;
  z-index: 100;
  width: 50%;
  line-height: 1.3;
  padding: 1.5% 5% 5% 5%;
  color: $font-color;
  text-align:center;
  font-family: $main-font;

  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: bold;
  }

  h2 {
    font-size: 2rem;
  }
}

.homepg-signup-btn-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  justify-content: center;
}


.homepg-signup-btn {
  cursor: pointer;
  background: #9B6127;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  padding: 15px 20px;
  font-family: $button-font;
  position: relative;
  z-index:100;
  transition:all 300ms ease;
  &:hover{
    font-size:1.5em;
    box-shadow: 4px 6px $secondary-color;
  }
}

.homepg-login-link {
  font-size: 1.15rem;
  margin: 2.5% 0;
  a {
    text-decoration-style: wavy;
    color: white;
  }
}

.calendar-img{
  width: 45vw;
  height: auto;
  position: relative;
  right: 20%;
  top: 20%;
  opacity: 0.8;
}
::selection {
  color: magenta;
}


@media screen and(max-width: 1000px) {
  .welcome-container{
    align-items:center;
    flex-wrap:nowrap;
  }

  .welcome-txt {
    width: 80%;
    word-wrap:break-word;
    
    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }

  .calendar-img {
    position: absolute;
    top: 56%;
    right: 28%;
  }
}

@media screen and(max-width: 750px) {
  .calendar-img {
    width: 55vw;
    right: 23%;
  }
}
