//2/3 
$primary-color: #2F3EAB;
$secondary-color:#363636;
$accent-color-one: #FFAD4E;
$accent-color-two:#38B66F;
$font-color: #F5F5F5;
$button-font: 'Oswald', sans-serif;
$main-font: 'Roboto Condensed', sans-serif;
