.share-pg{
  height: 80vh;
  border: 1px solid white;
  display:flex;
  flex-direction:column;
  align-items:center;
}

// .share-card-wrapper{
//   height: 400px;
//   width: 350px;
//   border: 2px solid orange;
// }