@import '../../sass/variables.scss';


.share-pg-content {
  height: 100%;
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share-form {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 3%;
  button {
    font-family: $button-font;
    font-size: 1.3rem;
    background-color: #68749F;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
  }
  input{
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    margin-bottom: 1.5%;
    padding: 3px 10px;
    font-family: $button-font;
    box-shadow: 5px 5px $secondary-color;
    transition: all 450ms ease;
    outline: none;
    &:placeholder-shown {
      font-family: $button-font;
      font-weight: 200;
    }
  }
}
.share-name-input {
  width: 30%;
  }

  .link-input {
    width: 40%;
  }

  // .copy-to-clipboard {
  //   display: flex;
  //   flex-direction: column;
  //   margin: 5% 0;
  //   align-content: center;
  // }

.share-btn{
  cursor: pointer;
  background: #9B6127;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  font-weight: 200;
  width: 25%;
  padding: 6px 0px;
  font-family: $button-font;
  font-weight: 200;
  box-shadow: 2px 2px $secondary-color;
  margin-bottom: .5%;
  &:disabled{
    cursor: not-allowed;
    background: #867F7D;
    box-shadow:initial;
    opacity: .75;
  }
}

.copy-msg {
  color: $font-color;
  font-size: 1.5rem;
}

.copy-to-clipboard {
  margin: 1% 0;
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: center;
  align-items: center;
  input {
    font-size: 1rem;
    height: 2.5rem;
  }
  .copy-img {
    height: 2rem;
  }
  button {
    background-color: white;
    height: 2.4rem;
    cursor: pointer;
    margin: 1%;
  }
}

.share-dashboard-btn {
  color: $font-color;
}


@media screen and (max-width: 1000px) {
  .share-form {
    justify-content: flex-start;
    h2 {
      font-size: 1.15em;
    }
  }

  .share-name-input{
    font-size: .45em;
    &::placeholder{
      color:transparent;
    }
    &:focus{
      font-size: .55em;
      width: 25vw;
    }

  }
  .share-trip-btn, .create-trip-btn {
    font-size: .85rem;
    width: 20vw;
    padding: .45rem;
  }
}