@import '../../sass/variables.scss';

.header{
  min-height: 10vh;
  background-color: $header-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.logo {
  width: 4em;
  height: auto;
  margin-left: 3.5%;
}

.login-btn {
  background-color: $secondary-color;
  border: none;
  border-radius: 5px;
  padding: .25rem 1.55rem;
  font-size: 1.3rem;
}

.nav-bar {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2%;
}

.nav-link {
  text-decoration: none;
  color: $font-color;
  font-size: 1.3rem;
  padding: 1.5%;
}