@import '../../sass/variables.scss';

.header {
  height: 8%;
  background-color: $secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0%;
}

.logo {
  width: 5em;
  height: auto;
  margin-left: 1rem;
  filter: drop-shadow(3px 3px black);
}

.login-btn,
.logout-btn {
  background-color: $accent-color-one;
  border: none;
  border-radius: 5px;
  padding: .25rem 1.55rem;
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  box-shadow: 2px 2px black;

  &:hover {
    cursor: pointer;
  }
}



.nav-bar {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2%;
}

.nav-link {
  text-decoration: none;
  color: $font-color;
  font-size: 1.3rem;
  margin: 0 1.5%;
}

@media screen and (max-width:1000px) {

  .nav-link,
  .login-btn,
  .logout-btn {
    font-size: .8rem;
  }

  .logo {
    width: 3em;
    margin: .75em;
  }

  .header {
    height: 8vh;
  }


}

@media screen and (max-width: 450px) {

  .nav-bar {
    justify-content: space-around;
  }

  .nav-link,
  .login-btn,
  .logout-btn {
    font-size: .55em;
  }

  .login-btn, 
  .logout-btn {
    margin: initial;
    padding: 5px 20px;
  }
}