@import '../../sass/variables.scss';

.header {
  min-height: 10vh;
  // background-image: url(https://i.pinimg.com/originals/90/ca/e0/90cae0cf9b6cded6456a336101de9fd8.jpg);
  background-position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border-top-left-radius:10px;
  // border-top-right-radius:10px;
  // border-bottom-left-radius: 50% 10%;
  // border-bottom-right-radius: 50% 10%;
  // padding: 1% 0%;
}

.logo {
  width: 5em;
  height: auto;
  margin: 1rem;
  filter: drop-shadow(3px 3px black);
}

.login-btn,
.logout-btn {
  background-color: #68749F;
  border: none;
  border-radius: 5px;
  padding: .25rem 1.55rem;
  font-size: 1.3rem;
  font-family: 'Oswald', sans-serif;
  color: $font-color;
  font-weight: bold;
  box-shadow: 2px 2px black;

  &:hover {
    cursor: pointer;
  }
}



.nav-bar {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 2rem;
}

.nav-link {
  text-decoration: none;
  color: $font-color;
  font-size: 1.3rem;
  margin: 0 1.5%;
}

@media screen and (max-width:1000px) {

  .nav-link,
  .login-btn,
  .logout-btn {
    font-size: .8rem;
  }

  .logo {
    width: 3em;
    margin: .75em;
  }

  .header {
    height: 8vh;
  }


}

@media screen and (max-width: 450px) {

  .nav-bar {
    justify-content: space-around;
  }

  .nav-link,
  .login-btn,
  .logout-btn {
    font-size: .55em;
  }

  .login-btn, 
  .logout-btn {
    margin: initial;
    padding: 5px 20px;
  }
}