@import '../../sass/variables.scss';

.dashboard {
  height: 100%;
}
.dashboard-greeting {
  padding: 0 0 2rem 0;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 2.5rem
  }
  font-size: 1.5em;
}

.dashboard-content {
  display:flex;
  flex-direction: row-reverse;
  height:90%
}

.dash-cards-wrapper{
  text-align: center;
  font-size: 1.5rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  color-scheme: dark;
  padding: 0 2%;
  max-height: 60vh;
}


.dashboard-cards {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  overflow-y: scroll;
}

.create-invite-wrapper{
  width:50%;
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 2%;
}

.dashboard-create-btn {
  cursor: pointer;
  background: #9B6127;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-size: 1.6rem;
  font-weight: 200;
  padding: 1.5rem;
  font-family: $button-font;
  font-weight: 200;
  box-shadow: 2px 2px $secondary-color;
  margin-bottom: .5%;
}