.login {
  border: 1px solid red;
  height: 80vh;
}

.login-content {
  height: 100%;
  border: 1px solid purple;
  display: flex;
  //need to adjust position of this div to relative or absolute, if adding an image later
  flex-direction: column;
  align-items: center;
  line-height: 1.6;

  h1 {
    font-size: 2em;
  }

}

.login-form {
  height: 50%;
  width: 50%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 1.6em;
  }
}

.email-input {
  font-size: 1em;
  width: 45%;
  margin: 5% 0;
}